body{
	background-image: url(../IMG/fond.jpeg);
   
}
h1{
    width: 20px;
}
.calc{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #C6C6C6;
    width: 35%;
    height: auto;
}
.calc td button{
    display: block;
    width: 65px;
    height: 50px;
    font-size:25px;
}
.calc td .buttonB{
    display: block;
    width:219px;
    height: 50px;
    font-size:25px;
}

#resul{
    padding-top: 7px; 
    display: block;
    text-align: right;
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 15px;
}
#texto{
    width: 67px;
    height: 45px;
}

